
*{
    border: solid 1px red;
}
.container{
    display: flex;
    flex:auto;
    flex-direction: column;
}

.head{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logga{
    display: flex;
}

.socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    
    
}




.uhead{
    height: 80px;
    display: flex;
    justify-content: center;

}



.blogg{
    height: 800px;
    width: 100%;
    display: flex;
}




.post-container{
    height: 800px;
    width: 400px;
    flex: 8;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    
    
}

.posts{
    display: flex;
    height: fit-content;
    width: fit-content;
    margin: 10px;
    flex: 1;
    
}

.text-container{
    display: flex;
    flex-direction: column;
    flex: 3;

}

.post-img{
    flex:1;
}

.p-container{
    display: flex;
    flex: 2;
}
.head-container{
    display: flex;
    justify-content: center;
 

}
.post-header{

}
.post-button{
    display: flex;
    flex-direction: row-reverse;
}




.table-container{
    display: flex;
    flex-direction: column;

    flex: 1;
}

.sidetable{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 200px;
    flex: 3;

}
.show-all{
    display: none;
    flex:1
}


.table-header{
    font-size:  150%;
}
.post-arc{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.tag-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.tags{
    color: white;
    line-height: 2;
    text-decoration: none;
    padding: 5px;
}



.footer{
    display: flex;
    flex: auto;
    height: 300px;

}

