@media screen and (max-width: 500px){
    .blogg{
        flex-direction: column-reverse;
    }

    .post-container{
        width: 100%;
        flex: 6;
    }
    .posts{
        height: 500px;
        width: 95%;
        flex: 1;
        margin: 5px auto;
    }

    .table-container{
    height: 500px;
    width: 100%;
    flex: 1;
    }
    .sidetable{
        height: 100px;
        width: 95%;
        flex: 1;
        margin: 5px auto;

        
    }
    
    .footer{
        height: 200px;
    }
}
