@media screen and (max-width: 500px){
    .blogg{
        flex-direction: column-reverse;
        height: 1000px;
    }

    .post-container{

        width: 100%;

    
    }
    .posts{
     
        width: 95%;
        margin: 5px auto;
    }

    .table-container{
        height: 100px;

    }
    .sidetable{
     
        width: 95%;

        margin: 5px auto;

        
    }
    .show-all{
        display: none;
    }
    
    .footer{
        height: 100px;
    }
}
